.quemSomos {
  height: 130vh;
  background-image: url("../../assets/backgroundQuemSomos.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  display: flex;
  justify-content: end;
  align-items: center;
}

.boxTextoQuemSomos {
  width: 40%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    color: #205691;
    font-size: 2rem;
    width: 30vw;
  }

  p {
    font-size: 1.2rem;
    width: 85%;
  }
}
