.containerCardsDeAcoes {
  display: flex;
  height: 120vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardsDeAcoes {
  width: 25%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;

  h2 {
    color: #122f97;
    font-size: 1.5rem;
  }
  p {
    text-align: center;
    width: 80%;
  }
  button {
    background-color: #205691;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  img {
    height: 15vh;
  }
}

.boxTituloDeAcoes {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h2 {
    color: #205691;
    font-size: 2.5rem;
  }

  p {
    width: 40vw;
    display: flex;
    font-size: 1rem;
    text-align: center;
  }
}
