.containerTelaPerfil {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    border: solid #efeeea;
    border-radius: 16px;
    height: 65vh;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
      height: 40vh;
      width: 20vw;
      border-radius: 100%;
      border: solid #00aaff;
    }
  }
}

.cardInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;

  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #278733;
  }

  .paragrafoSobreMim {
    text-align: center;
    width: 80vh;
  }
}

address {
  display: flex;
  justify-content: space-between;
  width: 60%;

  p {
    font-size: 0.6rem;
  }
}

.listaDeInteresse {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  align-items: center;

  li {
    color: #278733;
    font-size: 0.7rem;
    font-weight: 600;

    background-color: #d4e7d6;
    padding: 0.8rem;
    border-radius: 10px;
  }
}
